header {
  text-align: center;
  padding: 40px 0;
  box-shadow: 1px 1px 3px black;
  /*background-color: #2B2828;*/
  background-color: #001c0e;
  background-image: url("3px-tile.png");

}

header h1 {
  margin: 0;
  padding: 0;
  font-size: 3.5em;
}

body {
  color: #FAFAFA;
  background-color: #C71E1E;
}

h3 {
  text-shadow: 1px 1px 1px #333;
}

#order-pizza {
  margin-top: 30px;
}

.btn-success {
  background-color: #107318;
  border-color: #08400C;
  float: right;
}

.delete-pizza {
  cursor: pointer;
  color: #400000;
  display: inline-block;
  padding: 10px 0;
}

.delete-pizza:hover {
  text-decoration: underline;
}

#placed-orders {
  visibility: hidden;
}

#error {
  display: none;
}

.order {
  padding: 10px 0;
  border-bottom: 1px solid #FAFAFA;
}

.order__cancel-order {
  color: black;
  text-decoration: underline;
  cursor: pointer;
  padding-left: 20px;
  float: right;
}

.order__cancel-order:hover {
  text-decoration: none;
}

.amount-total {
  text-align: right;
  font-weight: bold;
}

.pizza-cost {
  float: right;
}
